<div class="action-items-container">
  <div>
    <button title="Add a new note" type="button" (click)='createNote()' class="btn"><i class="fa fa-plus"></i></button>
  </div>
  <div>
    <button title="remove the note" type="button" (click)='deleteNote()' class="btn"><i class="fa fa-remove"></i></button>
  </div>
  <div>
    <button title="Save all the note" type="button" (click)='save()' class="btn"><i class="fa fa-save"></i></button>
  </div>
  <div class="searchContainer">
    <i class="fa fa-search searchIcon"></i>
    <input class="searchBox"  type="text" placeholder="Search" (input)="search()" [(ngModel)]='searchText'>
  </div>  
</div>