<div class="item-list">
  <div class="root">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text"><span>09:30PM</span> Some quick example text to build on the card title and make up the
          bulk of the card's
          content.</p>
      </div>
    </div>
    <div class="card active">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
    </div>
  </div>
</div>