<div class="item-list">
  <div class="root">
    <div 
      *ngFor="let note of (notes | async | FilterNotes)" 
      (click)="setActiveNote(note.id)" 
      class="card"
      [class.active]="note.id === (activeNoteId | async)"
    >
      <div class="card-body">
        <h5 class="card-title">{{note.title || 'New Note'}}</h5>
        <p class="card-text"><span>{{note.lastUpdated | date: 'hh:mm'}}</span>
          {{note.content || 'No additional details'}}
        </p>
      </div>
    </div>
  </div>
</div>