app-note-details {
    flex-grow: 1;
}

.left-arrow {
    display: block;
}
.right-arrow {
    display: none;
}

.time-stamp {
    flex-grow: 1;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

@media screen and (max-width: 768px) {
    app-note-list {
        display: none;
    }
    .left-arrow {
        display: none;
    }
    .right-arrow {
        display: block;
    }
}